# App
APP_HOST=0.0.0.0
APP_PORT=8000
APP_DEBUG=true

# Database
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=blog-db
POSTGRES_HOST=blog-db
POSTGRES_PORT=5432

# Redis
REDIS_URL=redis://blog-redis:6379/0

# JWT
JWT_SECRET_KEY=changeme
JWT_ALGORITHM=HS256
JWT_ACCESS_TOKEN_EXPIRE_MINUTES=30
JWT_REFRESH_TOKEN_EXPIRE_DAYS=30
