# App
APP_HOST=0.0.0.0
APP_PORT=8000
APP_DEBUG=true

# Database
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=blog-db
POSTGRES_HOST=blog-db
POSTGRES_PORT=5432

# Redis
REDIS_URL=redis://blog-redis:6379/0

# JWT
JWT_SECRET_KEY=changeme
JWT_ALGORITHM=HS256
JWT_ACCESS_TOKEN_EXPIRE_MINUTES=30
JWT_REFRESH_TOKEN_EXPIRE_DAYS=30

# S3 / MinIO
S3_ENDPOINT_URL=http://blog-minio:9000
S3_ACCESS_KEY=minioadmin
S3_SECRET_KEY=minioadmin
S3_BUCKET=blog
S3_PUBLIC_URL=http://localhost:9000/blog

# PUBLICATIONS
MAX_IMAGES_PER_PUBLICATION=10
